# IPSENSE internship project

This project was made by **Matheus Bellucio**. contact me on this email: matheusbellucio@gmail.com

<hr>

### Imports

In [13]:
import pandas as pd
import plotly.express as plx

import requests
import json

<hr>

## Project Gutenberg Analysis

Project Gutenberg is an online library of free eBooks.

On this analysis we are going to look for some interesting data revolving around this free innitiative, those being:
- Most Downloaded Books

<hr>

### API endpoints

In [14]:
HEADERS = {
  'Content-Type': 'application/json',
  'Accept': 'application/json'
}

In [15]:
BOOKS = 'https://gutendex.com/books/'

### API Calls

In [17]:
def fetchJson(url: str, headers: dict) -> dict[str, any]:
  try: 
    response = requests.get(url, headers=headers)
    response.raise_for_status()
    return response.json()
  except requests.exceptions.RequestException as err: 
    raise err

### Dataframe creation and Data formatting

In [25]:
data = fetchJson(url=BOOKS, headers=HEADERS)
df_books = pd.DataFrame(data['results'])

In [28]:
print(df_books.shape)
df_books.head()

(32, 11)

,id,title,authors,translators,subjects,bookshelves,languages,copyright,media_type,formats,download_count
0,1513,Romeo and Juliet,"[{'name': 'Shakespeare, William', 'birth_year'...",[],"[Conflict of generations -- Drama, Juliet (Fic...","[Browsing: Fiction, Browsing: Literature, Brow...",[en],False,Text,{'text/html': 'https://www.gutenberg.org/ebook...,79350
1,2701,"Moby Dick; Or, The Whale","[{'name': 'Melville, Herman', 'birth_year': 18...",[],"[Adventure stories, Ahab, Captain (Fictitious ...","[Best Books Ever Listings, Browsing: Fiction, ...",[en],False,Text,{'text/html': 'https://www.gutenberg.org/ebook...,72591
2,1342,Pride and Prejudice,"[{'name': 'Austen, Jane', 'birth_year': 1775, ...",[],"[Courtship -- Fiction, Domestic fiction, Engla...","[Best Books Ever Listings, Browsing: Culture/C...",[en],False,Text,{'text/html': 'https://www.gutenberg.org/ebook...,58898
3,37106,"Little Women; Or, Meg, Jo, Beth, and Amy","[{'name': 'Alcott, Louisa May', 'birth_year': ...",[],"[Autobiographical fiction, Bildungsromans, Dom...",[],[en],False,Text,{'text/html': 'https://www.gutenberg.org/ebook...,53439
4,145,Middlemarch,"[{'name': 'Eliot, George', 'birth_year': 1819,...",[],"[Bildungsromans, City and town life -- Fiction...","[Best Books Ever Listings, Browsing: Culture/C...",[en],False,Text,{'text/html': 'https://www.gutenberg.org/ebook...,53226

In [29]:
df_books.describe()

                 id  download_count
count     32.000000       32.000000
mean   11769.531250    36626.281250
std    19168.061058    16737.670384
min       11.000000    15679.000000
25%      381.750000    21085.750000
50%     2577.000000    38886.500000
75%     9168.000000    46925.750000
max    67979.000000    79350.000000

In [30]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              32 non-null     int64
 1   title           32 non-null     object
 2   authors         32 non-null     object
 3   translators     32 non-null     object
 4   subjects        32 non-null     object
 5   bookshelves     32 non-null     object
 6   languages       32 non-null     object
 7   copyright       32 non-null     bool
 8   media_type      32 non-null     object
 9   formats         32 non-null     object
 10  download_count  32 non-null     int64
dtypes: bool(1), int64(2), object(8)
memory usage: 2.7+ KB